# --- ROS 2 Colcon Generated Artifacts ---
/build/
/install/
/log/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/

# --- IDEs & Editors ---
.vscode/*
.idea/
*.swp
*.swo
*~
full_codebase.txt

# --- OS Specific ---
.DS_Store
Thumbs.db
